*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: aqua;
    padding: 1rem;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: aqua;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar-link {
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.navbar-link:hover {
    color: var(--inky-black);
    background-color: rgb(0, 85, 85);
}

.--home {
    background-color: rgb(0, 31, 31);
}
