:root {
    /* Gryffindor */
    --color1: #740001;
    --color2: #ae0001;
    --color3: #eeba30;
    --color4: #d3a625;
    --color5: #000000;

    /* Hufflepuff */
    /* --color1: #ecb939;
    --color2: #f0c75e;
    --color3: #726255;
    --color4: #372e29;
    --color5: #000000; */

    /* Ravenclaw */
    /* --color1: #0e1a40;
    --color2: #222f5b;
    --color3: #5d5d5d;
    --color4: #946b2d;
    --color5: #000000; */

    /* Slytherin */
    /* --color1: #1a472a;
    --color2: #2a623d;
    --color3: #5d5d5d;
    --color4: #aaaaaa;
    --color5: #000000; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: var(--color5);
    color: var(--color3);
    padding: 1rem;
    z-index: 1;
}

.main {
    margin: 6rem 0 5rem;
}

.questions {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;
}

.question-card {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color1);
    color: var(--color4);
    border-radius: 1rem;
    max-width: 400px;
    padding: 1rem 1rem 3rem;
}

.bookmark {
    position: absolute;
    right: 0.4rem;
    top: -0.8rem;
}

.answer {
    border-radius: 1rem;
    border-color: #fff;
    border-style: hidden;
    font-size: large;
    font-weight: bold;
    background-color: #fff;
    padding: 0 0.3rem;
}

.answer:hover {
    background-color: var(--color2);
    border-color: var(--color2);
}

.categories {
    position: absolute;
    left: 0.6rem;
    bottom: 0.2rem;
}

.category {
    border-radius: 1rem;
    border-style: hidden;
    background-color: var(--color5);
    color: #fff;
    padding: 0 0.3rem;
}

.category:hover {
    background-color: var(--color2);
}

.profile {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.4rem;
    max-width: 400px;
    margin: auto;
    background-color: var(--color1);
    color: var(--color4);
    border-radius: 1rem;
    align-content: flex-start;
}

.profile-picture {
    width: 5rem;
    border: 1px solid var(--color5);
    border-radius: 5rem;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 2rem 0;
}

.about-me {
    padding: 0 2rem;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}

.counter {
    display: flex;
    background-color: var(--color2);
    border-radius: 1rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.settings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 2rem 2rem;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--color1);
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar-link {
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.navbar-link:hover {
    color: var(--inky-black);
    background-color: var(--color2);
}

.--active {
    background-color: var(--color3);
}
