.profile {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.4rem;
    max-width: 400px;
    margin: auto;
    background-color: var(--color1);
    color: var(--color4);
    border-radius: 1rem;
    align-content: flex-start;
    outline: solid 0.1rem var(--color3);
    box-shadow: 0.1rem 0.1rem 2rem var(--color3);
}

.profile-picture {
    width: 5rem;
    border-radius: 5rem;
    outline: solid 0.1rem var(--color3);
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 2rem 0;
}

.about-me {
    padding: 0 2rem;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}

.counter {
    display: flex;
    background-color: var(--color2);
    border-radius: 1rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    outline: solid 0.1rem var(--color3);
}

.settings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 2rem 2rem;
    accent-color: var(--color3);
}
